#post{
    @extend %page-padding;
    .post-header{
        padding-bottom : 60px;
        text-align: center;
        .title{
            margin-bottom: 0px;
        }
        .subtitle{
            font-size : 1.2rem;
        }
        .meta{
            color : $text-gray;
            font-size: 0.85rem;
            margin-top : 15px;
        }
    }
    .post-content{
        overflow: hidden;
        margin-bottom: 100px;
    }
}
.top-btn{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -ms-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    opacity: 0;
    display:none;
    position:fixed;
    bottom:10%;
    right: 15%;
    @media (max-width: 991px) {
        right: 10%;
    }
    @media (max-width: 576px) {
        right: 2%;
    }
    width: 45px;
    height: 45px;
    background-color: $theme-dark;
    color : rgba(0,0,0,0.7);
    border-radius: 15px;
    text-align: center;
    line-height: 2.4rem;
    color:#fff;
    i {
        color:#fff;
    }
}
.top-btn:hover{
    background-color: $theme-dark2;
}

#comments{
    @extend %page-padding;
    div.border{
        border-top: 1px solid #e7e9ee;
    }
}

.more-posts {
    border: 1px solid #E5E5E5;
    padding: 10px 10px 5px;
    margin: 10px 0;
    clear: both;
    display: block;
    table {
      table-layout: fixed;
      border-collapse: collapse;
      width: 450px !important;
      margin-top: 10px !important;
      display: table;
      border-spacing: 2px;
      border-color: grey;
    }
  }
.more-category {
  border-bottom: 1px solid #E5E5E5 !important;
  > h4 {
    line-height: 170%;
    color: #737373 !important;
    font-size: 12px;
    margin: 0;
    padding: 2px 0 6px !important;
    display: inline-block;
  }
  .more-button {
    float: right;
    color: #909090;
    font-size: 12px !important;
    vertical-align: center;
    border-collapse: collapse;
    padding: 4px 4px 0 0;
  }
}
.more-posts-title {
  text-align: left;
  font-size: 12px !important;
  font-weight: normal;
  word-break: break-all;
  overflow: hidden;
  line-height: 1.5;
  padding: 0 0 4px !important;
  display: table-cell;
  vertical-align: inherit;
  border-collapse: collapse;
  a {
    color: #909090;
  }
  a:hover {
    color: #34373e;
  }
}
.more-posts-date {
  text-align: right;
  width: 80px;
  font-size: 11px;
  padding: 0 0 4px !important;
  color: #909090 !important;
  display: table-cell;
  vertical-align: inherit;
  border-collapse: collapse;
}