---
layout: page
---
<div id="post">
  <section class="post-header">
    <h1 class="title">{{ page.title }}</h1>
    <p class="subtitle">{{ page.subtitle }}</p>
    <p class="meta">
      📅 {{ page.date | date: "%B %-d, %Y" }} • ⏱️ {% include read_time.html %}
    </p>
  </section>
  <section class="post-content">
    {{ content }}
  </section>
  <!-- Google Ads -->
  <div class="adsbygoogle">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2853897577129853"
      crossorigin="anonymous"></script>
    <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
      data-ad-format="fluid" data-ad-client="ca-pub-2853897577129853" data-ad-slot="9024808230"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>

<div id="top" class="top-btn" onclick="moveTop()">
  <i class="fas fa-chevron-up"></i>
</div>


<!-- Category -->
<div class="more-posts">
  <div class="more-category">
    <h4> {{page.categories}} 카테고리의 다른 글 ✏️</h4>
    <a href="{{ site.url }}/tags" class="more-button"> ➕ 더보기</a>
  </div>
  <table>
    <tbody>
      {% assign count = 0 %}
      {% for post in site.posts %}
      {% if post.categories == page.categories %}
      {% assign count = count | plus: 1 %}
      {% if count < 8 %} <tr>
        <th class="more-posts-title">
          <a href="{{ site.url }}{{ post.url | relative_url }}" class="more-title">{{ post.title }}</a>
        </th>
        <td class="more-posts-date">{{ post.date | date: '%Y. %m. %d' }}</td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
    </tbody>
  </table>
</div>

<!-- Google Ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2853897577129853"
  crossorigin="anonymous"></script>
<ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid"
  data-ad-client="ca-pub-2853897577129853" data-ad-slot="9024808230"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname and page.comments %}
<div id="comments">
  <div class="border">
    {% include disqus.html %}
  </div>
</div>
{% endif %}

<!-- Footer -->
{% include footer.html %}

<script>
  var lastScrollTop = 0;
  window.onscroll = function () {
    var st = document.body.scrollTop || document.documentElement.scrollTop;
    if (st > 250) {
      document.getElementById("top").style.display = "block"
      if (st > lastScrollTop) {
        document.getElementById("top").style.opacity = 0
      } else {
        document.getElementById("top").style.opacity = 1
      }
    } else {
      document.getElementById("top").style.opacity = 0
      if (st > lastScrollTop) {
        document.getElementById("top").style.display = "none"
      }
    }
    lastScrollTop = st <= 0 ? 0 : st;
  }
  function moveTop() {
    document.body.scrollTop = 0
    document.documentElement.scrollTop = 0
  }
</script>