$dt-gray-dark: #282a36; // Background
$dt-code-cell-background: #323443;
$dt-gray: #44475a; // Current Line & Selection
$dt-gray-light: #f8f8f2; // Foreground
$dt-blue: #6272a4; // Comment
$dt-cyan: #594b92;
$dt-green: #50fa7b;
$dt-orange: #db8c2f;
$dt-pink: #ff79c6;
$dt-purple: #bd93f9;
$dt-red: #ff5555;
$dt-yellow: #f1fa8c;
$dt-green-light: rgb(172, 229, 145);
$dt-gray-code: #f3f3f3;
$dt-deep-brown: #a85252;
$dt-deep-purple: #7d37b1;
$dt-deep-red: #a30930;

.highlight pre {
  margin-bottom: 1rem !important;
  margin-top: 1.5rem !important;
  background: $dt-gray-code !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", Roboto, Ubuntu, monospace;
  border-radius: 5px;
  font-size: 95%;
  padding: 20px 20px;
  overflow-x: auto;
  border: 0px solid #e8e8e8;
  // margin : 10px 0;
  // * {font-size:0.9rem;
  // }
}
.highlight {
  color: $dt-gray-light !important;
  pre,
  code {
    color: $dt-gray-dark;
    font-size: 95%;
  }
}

// add style
.language-shell {
  color: #f8f8f2;
}
.language-html {
  color: #f8f8f2;
}

.highlight table td {
  padding: 5px;
}
.highlight table pre {
  margin: 0;
}
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cpf {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #000000;
  font-weight: bold;
}
.highlight .kd {
  color: #000000;
  font-weight: bold;
}
.highlight .kn {
  color: #000000;
  font-weight: bold;
}
.highlight .kp {
  color: #000000;
  font-weight: bold;
}
.highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .k,
.highlight .kv {
  color: #c05dc3;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .il {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .m,
.highlight .mb,
.highlight .mx {
  color: #009999;
}
.highlight .sa {
  color: #000000;
  font-weight: bold;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .s,
.highlight .dl {
  color: #c4321a;
}
.highlight .na {
  color: #008080;
}
.highlight .bp {
  color: #c05dc3;
}
.highlight .nb {
  color: #c05dc3;
}
.highlight .nc {
  color: #445588;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
}
.highlight .nf,
.highlight .fm {
  color: #5030bb;
}
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .nv,
.highlight .vm {
  color: #008080;
}
.highlight .ow {
  color: #c05dc3;
}
.highlight .o {
  color: #000000;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight {
  background-color: #f8f8f8;
}
