$theme-color : #CD853F;
$theme-bright : #FFE4C4;
$theme-dark : #A0522D;
$theme-dark2 : #411b00;
$dt-code-cell-background: #323443;
$dt-gray: #44475a;       
$text : rgba(0,0,0,0.8);
$text-gray : rgba(0,0,0,0.54);

%page-padding {
    padding: 0px 13% !important;
    margin-right: 30px !important;
    margin-left: 30px !important;
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px 15px!important;
        margin-right: 5 !important;
        margin-left: 5 !important;
    }
}
%posts-padding {
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px!important;
    }
}
%page-nav-btn {
    right : 5%;
    @media (max-width: 991px) {
        right : 3%;
    }
}
